
@using Microsoft.AspNetCore.Mvc.Localization

@model IEnumerable<MVCWebAppServierCon.Models.OrderHeaderClass>


@inject IViewLocalizer Localizer


@{
    ViewData["Title"] = "All Orders";
}

<title></title>


<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

<!-- BS JavaScript -->
@*<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>*@




@*<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.2/jspdf.min.js"></script>*@

@*<script src="https://cdn.rawgit.com/simonbengtsson/jsPDF/requirejs-fix-dist/dist/jspdf.debug.js"></script>
    <script src="https://unpkg.com/jspdf-autotable@2.3.2"></script>


    <script src="https://raw.githack.com/eKoopmans/html2pdf/master/dist/html2pdf.bundle.js"></script>*@


@*<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>*@
@*<script type="text/javascript" src="~/lib/bootstrap/dist/js/bootstrap.js"></script>*@


<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.2/jspdf.min.js"></script>

<script src="https://cdn.rawgit.com/simonbengtsson/jsPDF/requirejs-fix-dist/dist/jspdf.debug.js"></script>
<script src="https://unpkg.com/jspdf-autotable@2.3.2"></script>

<script src="https://raw.githack.com/eKoopmans/html2pdf/master/dist/html2pdf.bundle.js"></script>


<link href="~/css/FixedTable.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
<style>

    a:hover {
        text-decoration: underline;
        background-color: navajowhite;
        cursor: pointer;
    }

    .loader {
        position: fixed;
        top: 50%;
        left: 50%;
        margin-top: -50px;
        margin-left: -100px;
        height: 120px;
        width: 120px;
    }


    .float {
        position: fixed;
        width: 60px;
        height: 60px;
        bottom: 40px;
        right: 40px;
        background-color: #ffba71;
        color: #FFF;
        border-radius: 50px;
        text-align: center;
        box-shadow: 2px 2px 3px #999;
    }

    .my-float {
        margin-top: 22px;
    }

    .float:hover {
        -ms-transform: rotate(25deg); /* IE 9 */
        -webkit-transform: rotate(25deg); /* Chrome, Safari, Opera */
        transform: rotate(25deg);
        background-color: navajowhite;
    }

    .label-container {
        position: fixed;
        bottom: 48px;
        right: 105px;
        display: table;
        visibility: hidden;
    }

    .label-text {
        color: #FFF;
        background: #ffba71;
        display: table-cell;
        vertical-align: middle;
        padding: 10px;
        border-radius: 3px;
    }

    .label-arrow {
        display: table-cell;
        vertical-align: middle;
        color: #ffba71;
        opacity: 0.5;
    }

    a.float + div.label-container {
        visibility: hidden;
        opacity: 0;
        transition: visibility 0s, opacity 0.5s ease;
    }

    a.float:hover + div.label-container {
        visibility: visible;
        opacity: 1;
    }
</style>


@*<p>
        <a asp-action="Create">Create New</a>
    </p>*@

<div class="text-danger" style="margin-top:12px;">

    <table class="table table-striped responsive-table text-center table-hover table-bordered">
        <thead style="background-color:#46688a;color:white ;font-size:smaller ;">
            <tr>
                <th>
                    @Localizer["Code"]
                </th>

                <th>
                    @Localizer["date"]
                </th>

                <th>
                    @Localizer["User Name"]
                </th>
                <th>

                    @Localizer["Currency"]
                </th>


                <th>
                    @Localizer["Total"]
                </th>
                <th>
                    @Localizer["Total In basic"]
                </th>
                <th>

                    @Localizer["ProjectName"]
                </th>
                <th>

                    @Localizer["BudgetLine"]
                </th>

                <th>
                    @Localizer["OrderType"]
                </th>
                <th>

                    @Localizer["Expected Date"]
                </th>
                <th>
                    @Localizer["Note"]
                </th>
                <th>
                    @Localizer["Supplier"]
                </th>
                <th> @Localizer["Status"]</th>
                <th>@Localizer["Last User"]</th>
                <th>@Localizer["Last User Notes"]</th>
                <th>@Localizer["Waiting user"]</th>
                @*<th>  @Localizer["Actions"] </th>*@
                <th>  @Localizer["print"] </th>
                <th> </th>
                <th> @Localizer["Cancel Note"] </th>
            </tr>
        </thead>
        <tbody style="font-size:smaller ;">
            @* @foreach (var item in Model)*@
            @foreach (OrderHeaderClass item in Model)
            {
            <tr>
                <td>
                    <a asp-action="Edit" asp-controller="OrderView" asp-route-id="@item.OrderHeaderCode" asp-route-IsPreview="true" target="_blank"> @Html.DisplayFor(modelItem => item.OrderHeaderCode)</a>

                    @*  <a onclick="openModal(@item.OrderHeaderCode)" style="color:red;"> @Html.DisplayFor(modelItem => item.OrderHeaderCode)</a>*@

                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.OrderHeaderdate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Currency)
                </td>

                <td>

                    @Html.DisplayFor(modelItem => item.ActualTotalAmount)
                </td>
                <td>


                    @Html.DisplayFor(modelItem => item.TotalInbasic)

                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProjectName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BudgetLine)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.OrderTypeName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ExpectedDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderHeaderNote)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SupplierName)
                </td>
                <td style="color:#251fca ;">
                    @Html.DisplayFor(modelItem => item.StatusName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastUserName)
                </td>
                <td style="color:#251fca ;">
                    @Html.DisplayFor(modelItem => item.NotesFromLastAction)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.waitingUser)
                </td>

                @*<td>
            @if (item.StatusName == "Return" || item.StatusName == "Document")
            {
                <a asp-action="Edit" asp-controller="OrderView" asp-route-id="@item.OrderHeaderCode"><span class="Editbtn fa fa-pen" title="Edit"></span></a>

            }
            <a style="color:red ;" onclick="PostOrderStatus(@item.OrderHeaderCode,3)"> <span class=" fa fa-ban " title="Reject"></span></a> |

        </td>*@
                <td>
                    <a style="color:dimgrey; font-size: large " onclick="Print(@item.OrderHeaderCode)">  <span class=" fa fa-print" title="Print"></span></a>
                    @if (item.Freaze == false)
                    {

                        <a style="color:red ; font-size: large " onclick="FreazeOrder(@item.OrderHeaderCode)"> <span class=" fa fa-ban " title="Cancel"></span></a>
                    }

                </td>
                <td>
                    @if (item.Freaze == true)
                    {
                        <div style="color:red ; font-size: large ">@Localizer["Canceled"]</div>
                    }

                </td>
                <td>
                   
                    <div style="color:red ; font-size: large ">@item.FreazeNote</div>
                    

                </td>
            </tr>
            }
        </tbody>
    </table>



</div>
<div id="pnlOrder" style="display:block; font-size:small ;font-family: Arial">

</div>
<input id="SelectedOrderCode" style="display:none ;" />
<div class="container">


    <div class="modal" id="myModal">
        <div class="modal-dialog modal-lg">

            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">
                        Order Preview
                    </h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div id='modal-content'>
                    @* @Html.Partial("../OrderView/Edit", new { id = SelectedOrderCode })*@
                </div>

                <div class="modal-footer">


                    <button type="button" class="btn" style="background-color:#ffba71;" data-dismiss="modal" onclick="Hidemodal()">Close</button>
                </div>

            </div>
        </div>
    </div>

</div>
<script type="text/javascript">
    $(document).ready(function () {

        var loader = document.getElementById("loader");
        loader.style.display = "none";
    });

    $('#btnChange').click(function (eve) {
        var url = "/DeviceLocation/ChangeLocation/" + $(this).data("deviceID");
        $("#modal-content").load(url, function () {
            $("#myModal").modal("show");
        });

        //$("#modal-content").load("/DeviceLocation/ChangeLocation/" + $(this).data("deviceID"));
    })

    function Print(orderId) {
        var doc = new jsPDF('p', 'pt', 'a4');
        doc.setFontSize(5);
        var options = { background: 'red' };
        var div = document.getElementById("pnlOrder");
        div.innerHTML = '';


        $.ajax({
            url: "/Home/PrintOrder",
            data: { OrderId: orderId },
            success: function (data) {

                div.innerHTML = data;

                html2pdf().from(div).save();
            }
        });


    }

    function openModal(SelectedOrderCode) {


        //var loader = document.getElementById("loader");
        //loader.style.display = "block";
        //loader.style.width = "90px";
        //loader.style.height = "90px";


        // var url = $('#myModal').data('url');
        var url = "../OrderView/Edit/" + SelectedOrderCode + '?' + 'IsPreview=' + true;
        $.get(url, function (data) {
            $('#modal-content').html(data);

            //  $('#myModal').modal('show');
            jQuery.noConflict();
            $('#myModal').modal('show');
        });


        //
    }

    function FreazeOrder(approvalHeaderCode) {
        //debugger
        var notes
        var loader = document.getElementById("loader");
        loader.style.display = "block";
        /// enter notes
        Swal.fire({
            title: ' ملاحظه',
            input: 'text',
            inputAttributes: { autocapitalize: 'off' },

            confirmButtonText: 'ok',
            showLoaderOnConfirm: true,
            inputValidator: (value) => {
                if (!value && approvalIsApproved == 3) {
                    return 'يجب ادخال السبب !'
                }
            },
            preConfirm: (login) => {
                notes = login
                ///  send to saver
                var model = { ApprovalHeaderCode: approvalHeaderCode};
                $.ajax({
                    type: "POST",
                    dataType: "json",
                    url: "/Home/FreazeOrder",
                    data: {
                        ApprovalHeaderCode: approvalHeaderCode, Notes: notes

                    },
                    success: function (response) {
                        // console.log("handle response :" + response.data);
                        Swal.fire('Good job!',
                            'تم الحفظ',
                            'success'
                        )
                        // document.location = '/Home/Index';
                        loader.style.display = "none";
                        location.reload();
                    },
                    error: function (response) {
                        Swal.fire({
                            icon: 'error',
                            title: 'Oops...',
                            text: 'خطأ في التخزين !',
                            footer: ''
                        })
                        console.log("just die... please" + "  " + response.data);
                        loader.style.display = "none";
                    },
                });
            },
            allowOutsideClick: () => !Swal.isLoading()
        }).then((result) => {
            if (result.value) {
                /// nothing
            }
        })




    }

</script>

