@model MVCWebAppServierCon.Models.StructureClass

@{
    ViewData["Title"] = "CreateStructure";
}

<h1>CreateStructure</h1>

<h4>StructureClass</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateStructure">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @*<div class="form-group">
                <label asp-for="structureCode" class="control-label"></label>
                <input asp-for="structureCode" class="form-control" />
                <span asp-validation-for="structureCode" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="structureName" class="control-label"></label>
                <input asp-for="structureName" class="form-control" />
                <span asp-validation-for="structureName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="structureName2" class="control-label"></label>
                <input asp-for="structureName2" class="form-control" />
                <span asp-validation-for="structureName2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="structureRank" class="control-label"></label>
                <input asp-for="structureRank" class="form-control" />
                <span asp-validation-for="structureRank" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
            @ViewBag.message
        </form>
    </div>
</div>

<div>
    <a asp-action="StructureList">Back to List</a>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.structureCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.structureName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.structureName2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.structureRank)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (StructureClass item in ViewBag.structure)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.structureCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.structureName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.structureName2)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.structureRank)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                </td>
            </tr>
        }
    </tbody>
</table>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
