@model IEnumerable<MVCWebAppServierCon.Models.StructureClass>

@{
    ViewData["Title"] = "StructureList";
}

<h1>StructureList</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.structureCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.structureName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.structureName2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.structureRank)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.structureCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.structureName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.structureName2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.structureRank)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
