@model IEnumerable<MVCWebAppServierCon.Models.GeneralPreferenceClass>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.QouteAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeductionAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ConnecWith)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ActivitiyTable)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectTable)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.link_view_name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.QouteAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeductionAmount)
            </td>
            <th>
                @Html.DisplayFor(modelItem => item.ConnecWith)
            </th>
            <th>
                @Html.DisplayFor(modelItem => item.ActivitiyTable)
            </th>
            <th>
                @Html.DisplayFor(modelItem => item.ProjectTable)
            </th>
            <th>
                @Html.DisplayFor(modelItem => item.link_view_name)
            </th>
            <td>
                <a asp-action="Edit" asp-route-id="@item.code">Edit</a>
            </td>
        </tr>
}
    </tbody>
</table>
