@model MVCWebAppServierCon.ViewModels.UserViewModel


@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = "Edit";
}

<h1>@Localizer["Edit"]</h1>
<div class="rowPage">
    <h4>@Localizer["User Class"]</h4>
</div>
<hr />

<div class="rowPage">

    <div class="col-md-12">
        <form asp-action="Edit">
            <div asp-validation-summary="All" class="text-danger"></div>

            <div class="row">
                <div class="form-group col-md-3">
                    <label asp-for="userCode" class="control-label">@Localizer["User Code"]</label>
                    <input asp-for="userCode" class="form-control" disabled="disabled" />
                    <span asp-validation-for="userCode" class="text-danger"></span>
                </div>
                <div class="form-group col-md-3">
                    <label asp-for="userName" class="control-label">@Localizer["User Name"]</label>
                    <input asp-for="userName" class="form-control" disabled="disabled" />
                    <span asp-validation-for="userName" class="text-danger"></span>
                </div>
                <div class="form-group col-md-3">
                    <label asp-for="userEmail" class="control-label">@Localizer["User Email"]</label>
                    <input asp-for="userEmail" class="form-control" />
                    <span asp-validation-for="userEmail" class="text-danger"></span>
                </div>


            </div>
            <div class="row">
                <div class="form-group col-md-4">

                    <label asp-for="userType" class="control-label">@Localizer["User Type"]</label>
                    <br />
                    <select class="form-control" asp-for="userType">
                        @* asp-items="" *@

                        <option>Please select user Type</option>
                        @foreach (StructureClass item in ViewBag.uType)
                        {
                            <option value="@item.structureRank"> @Html.DisplayFor(modelItem => item.structureName)</option>
                        }
                    </select>
                    <label asp-for="userDepartment" class="control-label">@Localizer["Department"]</label>
                    <br />
                    <select class="form-control" asp-for="userDepartment">
                        @* asp-items="" *@

                        <option>Please select user Type</option>
                        @foreach (DepartmentClass item in ViewBag.DepName)
                        {
                            <option value="@item.departmentCode"> @Html.DisplayFor(modelItem => item.departmentName)</option>
                        }
                    </select>
                    <label asp-for="userActive" class="control-label">@Localizer["User Active"]</label>
                    @*<input asp-for="userActive" class="form-control" />*@
                    <br />
                    <select class="form-control" asp-for="userActive">
                        <option value="1">@Localizer["True"]</option>
                        <option value="0">@Localizer["False"]</option>
                    </select>
                    <span asp-validation-for="userActive" class="text-danger"></span>
                </div>
                <div class="form-group col-md-12">
                    <label asp-for="userNote" class="control-label">@Localizer["User Note"]</label>
                    <input asp-for="userNote" class="form-control" />
                    <span asp-validation-for="userNote" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <input type="submit" value="Edit" class="btn btn-primary" />
            </div>
            <p>
                <a asp-action="Create">User Screen</a>
            </p>
            @ViewBag.message
        </form>
       @* <div class="form-group">
            <button id="myBtn" onclick="">Open Modal</button>
        </div>


        <!-- The Modal -->
        <div id="myModal" class="modal">

            <!-- Modal content -->
            <div class="modal-content">
                <span class="close">&times;</span>
                <p>Some text in the Modal..</p>
            </div>

        </div>
    </div>*@
    @*@section Scripts {

        <script type="text/javascript">
            var modal = document.getElementById("myModal");

            // Get the button that opens the modal
            var btn = document.getElementById("myBtn");

            // Get the <span> element that closes the modal
            var span = document.getElementsByClassName("close")[0];

            // When the user clicks on the button, open the modal
            btn.onclick = function () {
                modal.style.display = "block";
                debugger
                var txt = document.getElementById('userCode');
                alert(txt.value)

                getUserRoles(txt.value);
            }

            function getUserRoles(userid) {
         debugger
        $.ajax(
            {
                url: "../getUserRoles",
                data: { UserId:userid },
                dataType: "json",
                type: "GET",
                success: function (data) {
                    alert("success")
                //    document.getElementById("TxtTotalBudget").innerHTML = data.data;
                //   alert("success buf  == " + data.data);
                },
                error: function (message) {
                    console.log("Error ...");
                    console.log(message);
                },

            });

    }
            // When the user clicks on <span> (x), close the modal
            span.onclick = function () {
                modal.style.display = "none";
            }

            // When the user clicks anywhere outside of the modal, close it
            window.onclick = function (event) {
                if (event.target == modal) {
                    modal.style.display = "none";
                }
            }


        </script>
    }*@
</div>



