@model VUserRoles


@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = "Permissions";
}

<h1>@Localizer["Permissions"]</h1>
<hr />
<style>
    .check_box_item {
        width: 24%;
        margin-top: 12px;
        background-color: #ebf7ff;
        border-radius: 12px;
        transition: 0.2s;
    }

        .check_box_item:hover {
            transform: scale(0.9);
        }

    .label_style {
        width: 100%;
        padding: 10px;
        margin-bottom: 0;
        display: flex;
        align-items: center;
        cursor: pointer;
    }
</style>
<form asp-action="change_roles">
    <div class="rowPage">
        <div class="form-group col-md-3" style="display: flex; justify-content: center;">
            <div class="campany_logo_container_87">

                <div class="campany_logo_container_2_87">
                    <div class="campany_image_container_87" style="border: 3px solid #19a3f4;">
                        <i class="fas fa-user-tie"
                           style=" font-size: 90px; color: #19a3f4; " ></i>
                    </div>
                    <h6 style="font-size: 21px;">@ViewBag.UserName</h6>
                </div>

            </div>
        </div>
        <div class="form-group col-md-9">
            <div style="display:flex; flex-wrap: wrap;">
                <input type="hidden" name="user_id" value="@ViewBag.userId" />

                @foreach (IdentityRole role in ViewBag.Roles)
                {
                    var is_found = false;
                    @foreach (VUserRoles item in ViewBag.Name)
                    {
                        if (item.Name == @role.Name)
                        {
                            is_found = true;
                        }
                    }
                    <div class="check_box_item" style="margin-right:1%;">
                        <label class="label_style" style="" for="@role.NormalizedName">
                            @if (is_found)
                            {
                                <input type="checkbox" name="roles" value="@role.NormalizedName" id="@role.NormalizedName" style="margin-right: 5px;" checked />
                            }
                            else
                            {
                                <input type="checkbox" name="roles" value="@role.NormalizedName" id="@role.NormalizedName" style="margin-right: 5px;" />
                            }
                            @role.Name
                        </label>
                    </div>
                }

            </div>
            <div class="form-group" style="margin-top: 15px; padding-left: 0;">
                <button class="btn" style="background-color: #19a3f4; color:#fff;" asp-controller="user" asp-action="change_roles">@Localizer["Save Permissions"]</button>
            </div>
        </div>
    </div>
</form>
