@model MVCWebAppServierCon.Models.AmountSittingClass

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>AmountSittingClass</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.amountFrom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.amountFrom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.amountTo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.amountTo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.amountStructure)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.amountStructure)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.amountUserId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.amountUserId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.amountCreationDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.amountCreationDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.amountNote)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.amountNote)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
