@model EditRoleViewModel

@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = "Edit Role";
}

<style>
    .check_box_item {
        width: 15%;
        overflow-x: auto;
        margin-top: 12px;
        background-color: #ebf7ff;
        border-radius: 12px;
        transition: 0.2s;
    }

        .check_box_item:hover {
            transform: scale(0.9);
        }

    .label_style {
        width: 100%;
        padding: 10px;
        margin-bottom: 0;
        display: flex;
        align-items: center;
        cursor: pointer;
    }
</style>
<div class="rowPage">
    <h1>@Localizer["Edit Role"]</h1>
</div>
<hr />

<form method="post" style="@Localizer["text-align: left  ;direction: ltr"]">
    <div class="row">

        <div class="form-group col-md-3" style="display: flex; justify-content: center; align-items: flex-start;">
            <div class="campany_logo_container_87">
                <div class="campany_logo_container_2_87">
                    <div class="campany_image_container_87" style="border: 3px solid #19a3f4;">
                        <i class="fas fa-key" style=" font-size: 90px; color: #19a3f4; "></i>
                    </div>
                    <h6 style="font-size: 21px;">@Model.RoleName</h6>
                </div>
            </div>
        </div>

        <div class="form-group col-md-9">
            <div class="form-group row">
                <label asp-for="RoleName" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-5">
                    <input asp-for="RoleName" name="RoleName" class="form-control">
                    <span asp-validation-for="RoleName" class="text-danger"></span>
                </div>
            </div>
            <div style="display:flex; flex-wrap: wrap;">
                <input type="hidden" name="roleId" value="@ViewBag.roleId" />

                @foreach (UserRoleViewModel user in ViewBag.User_list)
                {
                    <div class="check_box_item" style="margin-right:1%;">

                        <input type="hidden" asp-for="@user.UserId" />
                        <label class="label_style" style="" for="@user.UserId">
                            @if (user.IsSelected)
                            {
                                <input type="checkbox" name="users" id="@user.UserId" value="@user.UserId" style="margin-right: 5px;" checked />
                            }
                            else
                            {
                                <input type="checkbox"  name="users" id="@user.UserId" value="@user.UserId" style="margin-right: 5px;" />
                            }
                            @user.UserName
                        </label>
                    </div>
                }

            </div>
            <div class="form-group" style="margin-top: 15px; padding-left: 0;">
                <button class="btn" style="background-color: #19a3f4; color:#fff;" asp-action="EditUsersInRole">@Localizer["Save Role !"]</button>
            </div>
        </div>

    </div>
    @*<div class="form-group row">
            <label asp-for="Id" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                <input asp-for="Id" disabled class="form-control">
            </div>
        </div>*@
    @*<div class="form-group row">
            <label asp-for="RoleName" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                <input asp-for="RoleName" class="form-control">
                <span asp-validation-for="RoleName" class="text-danger"></span>
            </div>
        </div>*@

    @*<div asp-validation-summary="All" class="text-danger"></div>

    <div class="form-group row">
        <div class="col-sm-10">
            <button type="submit" class="btn btn-primary">Update</button>
            <a asp-action="ListRoles" class="btn btn-primary">Cancel</a>
        </div>
    </div>

    <div class="card">
        <div class="card-header">
            <h3>Users in this role</h3>
        </div>
        <div class="card-body">
            @if (Model.Users.Any())
            {
                foreach (var user in Model.Users)
                {
                    <h5 class="card-title" style="font-size:large; font-weight:bold">@user</h5>
                }
            }
            else
            {
                <h5 class="card-title">None at the moment</h5>
            }
        </div>
        <div class="card-footer">
            <a asp-controller="Administration" asp-action="EditUsersInRole"
               asp-route-roleId="@Model.Id" class="btn btn-primary">
                Add or remove users from this role
            </a>
        </div>
    </div>*@
</form>