@model MVCWebAppServierCon.Models.CompleteActivity

@{
    ViewData["Title"] = "Create";
}

<h5>Complete Activity</h5>
<hr />
<div class="form_container row">
    <form id="form" asp-action="Create" class="form_style col-md-6 col-lg-6 col-sm-8 col-12">
        <div class="row" style="margin:0; margin-bottom:16px;">
            <div class="btn btn-info" style="width: 100%;" data-toggle="modal" data-target="#attachmentsModal">
                Attachments
            </div>
        </div>
        <div class="row" style="margin:0; margin-bottom:20px;">
            <div class="btn btn-outline-info" style="width: 100%;" data-toggle="modal" data-target="#offeredModal">
                offered to us
            </div>
        </div>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input asp-for="SupplierId" type="hidden" value="@ViewBag.OrderHeader.SupplierCode" />
        <div class="form-group">
            <label class="control-label">Supplier Name</label>
            <input class="form-control" value="@(ViewBag.OrderHeader.SupplierName == null ? "not specified" : ViewBag.OrderHeader.SupplierName)" style="cursor:not-allowed" disabled />
            <span asp-validation-for="SupplierId" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Description" class="control-label"></label>
            <textarea id="Description_input" asp-for="Description" class="form-control" placeholder="Type Description here ..."></textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <div class="row" style="margin: 0;">
            <div class="form-group col-sm-6" style="padding-left:0;">
                <label asp-for="OrderCode" class="control-label">Order Code</label>
                <input id="OrderCode_input" asp-for="OrderCode" class="form-control" value="@ViewBag.OrderHeader.OrderHeaderCode" style="cursor:not-allowed" disabled />
                <span class="text-danger"></span>
            </div>
            <div class="form-group col-sm-6" style="padding-right:0;">
                <label asp-for="BookNumber" class="control-label"></label>
                <input id="BookNumber_input" asp-for="BookNumber" class="form-control" placeholder="Type Book Name here ..." />
                <span asp-validation-for="BookNumber" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ActivityVenue" class="control-label"></label>
            <input id="ActivityVenue_input" asp-for="ActivityVenue" class="form-control" placeholder="Type Activity Venue here ..." />
            <span asp-validation-for="ActivityVenue" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="ActivityDate" class="control-label"></label>
            <input id="ActivityDate_input" asp-for="ActivityDate" class="form-control" />
            <span asp-validation-for="ActivityDate" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="DoneTasks" class="control-label"></label>
            <textarea id="DoneTasks_input" asp-for="DoneTasks" class="form-control" placeholder="Type the done tasks here ..."></textarea>
            <span asp-validation-for="DoneTasks" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="CoordinatorName" class="control-label"></label>
            <input id="CoordinatorName_input" asp-for="CoordinatorName" class="form-control" placeholder="Type Coordinator Name here ..." />
            <span asp-validation-for="CoordinatorName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="ProjectName" class="control-label"></label>
            <input id="ProjectName_input" asp-for="ProjectName" class="form-control" placeholder="Type Project Name here ..." />
            <span asp-validation-for="ProjectName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Date" class="control-label"></label>
            <input id="Date_input" asp-for="Date" class="form-control" />
            <span asp-validation-for="Date" class="text-danger"></span>
        </div>
        <div class="form-group">
            <div id="submit_btn" value="Create" class="btn btn-info" style="width:100%;">Finish</div>
        </div>
    </form>
</div>

<!-- attachments Modal -->
<div class="modal fade" id="attachmentsModal" role="dialog">
    <div class="modal-dialog  modal-dialog-centered modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Attachments</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="row" style="width:100%; margin:0 0 15px 0;">
                    <div class="form-group input_group_style col-sm-9" style="margin-top:0; padding-left:0;">
                        <div class="custom-file">
                            <input id="attachment_input" type="file" class="form-control custom-file-input" />
                            <label id="attachment_input_label" class="custom-file-label" style="overflow: hidden;">Choose File ...</label>
                            <span id="attachment_error_element" class="text-danger"></span>
                        </div>
                    </div>
                    <button id="add_file_btn" class="btn btn-outline-info col-sm-3">
                        Add
                    </button>
                </div>

                <div id="files_list_element">
                    <h6>files list : </h6>

                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info" style="width:100%;" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<!-- offered Modal -->
<div class="modal fade" id="offeredModal" role="dialog">
    <div class="modal-dialog  modal-dialog-centered modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Offered To Us</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="row" style="width:100%; margin:0 0 15px 0;">
                    <div class="form-group input_group_style col-sm-9" style="margin-top:0; padding-left:0;">
                        <input id="offered_input" class="form-control" placeholder="Type what offered to us ..." />
                        <span id="offered_error_element" class="text-danger"></span>
                    </div>
                    <button id="add_Offered_btn" class="btn btn-outline-info col-sm-3">
                        Add
                    </button>
                </div>

                <div id="Offered_list_element">
                    <h6>Offered list : </h6>

                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info" style="width:100%;" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>
        var attachment_input = document.getElementById("attachment_input");
        var attachment_error_element = document.getElementById("attachment_error_element");
        var files_list_element = document.getElementById("files_list_element");
        var files_list = [];

        var offered_input = document.getElementById("offered_input");
        var offered_error_element = document.getElementById("offered_error_element");
        var Offered_list_element = document.getElementById("Offered_list_element");
        var offered_list = [];

        var fileName;

        // to change the label of the suplier attachment input
        $(document).ready(function () {
            $('#attachment_input').on("change", function () {
                fileName = $(this).val().split("\\").pop();
                $(this).next('#attachment_input_label').html(fileName);
            });
        });

        document.getElementById("add_file_btn").addEventListener("click", function () {
            if (attachment_input.files.length == 0) {
                attachment_error_element.innerHTML = "you have to select file !";
                return;
            } else {
                attachment_error_element.innerHTML = "";

                //add file to list
                files_list.push({
                    File_path: attachment_input.files[0]
                });
                console.log(files_list)
                //update html file list

                files_list_element.innerHTML += `
                            <div class="list_item">${fileName}</div>
                        `;

                //set file to null
                attachment_input.value = null;
                document.getElementById("attachment_input_label").innerHTML = "choose a file ...";
            }
        });

        document.getElementById("add_Offered_btn").addEventListener("click", function () {
            if (offered_input.value.length == 0) {
                offered_error_element.innerHTML = "you have to fill this input !";
                return;
            } else {
                offered_error_element.innerHTML = "";

                //add value to list
                offered_list.push({
                    Offered_to_us: offered_input.value
                });
                console.log(offered_list)
                //update html file list

                Offered_list_element.innerHTML += `
                            <div class="list_item">${offered_input.value}</div>
                        `;

                //set input to empty state
                offered_input.value = ""

            }
        });


         async function submit() {
             //prepare data :
             debugger
            var completeActivity = {
                SupplierId:@(ViewBag.OrderHeader.SupplierCode == null ? "null" : ViewBag.OrderHeader.SupplierCode),
                Description: document.getElementById("Description_input").value,
                OrderCode: document.getElementById("OrderCode_input").value,
                BookNumber: document.getElementById("BookNumber_input").value,
                ActivityVenue: document.getElementById("ActivityVenue_input").value,
                ActivityDate: document.getElementById("ActivityDate_input").value,
                DoneTasks: document.getElementById("DoneTasks_input").value,
                CoordinatorName: document.getElementById("CoordinatorName_input").value,
                ProjectName: document.getElementById("ProjectName_input").value,
                Date: document.getElementById("Date_input").value,
            }

            //fill files array
            var formData = new FormData();

            for (var i = 0; i < files_list.length; i++) {                
                console.log(files_list[i].File_path)
                formData.append(`file${i}`, files_list[i].File_path);
            }

             var paths_array = [];
             await $.ajax({
                 url: "@Url.Action("CreateFiles")",
                 data: formData,
                 type: 'POST',
                 contentType: false, // NEEDED, DON'T OMIT THIS (requires jQuery 1.6+)
                 processData: false, // NEEDED, DON'T OMIT THIS
                 success: function (response) {
                     debugger
                     console.log(response);
                     paths_array = response.paths_array;
                 },
                 error: function (response) {
                     console.log(response)
                 },
             });

            ////append completeActivity object to formdata
            //formData.append("completeActivity", completeActivity);

            ////append offered_list object to formdata
             //formData.append("offered_list", offered_list);
             debugger
             alert("wwwwwwwwwwwwwwwwwwwwwwwww")
              await $.ajax({
                url: "@Url.Action("Create")",
                data: {offered_list:offered_list , completeActivity:completeActivity ,paths_array:paths_array},
                type: 'POST',
                dataType:'json',
                success: function (response) {
                    console.log(response);
                    window.location.href = response.direct_urk;
                },
                error: function (response) {
                    console.log(response)
                },
            });

             debugger
             var x = 0;
             alert(x)
            
        }

        document.getElementById("submit_btn").addEventListener("click", submit)
    </script>
}