@model MVCWebAppServierCon.Models.Contracts

@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = "Create";
}

<h4 style="margin-left:40px;">Create</h4>


<hr />
<div class="row" style="margin-left:40px;">

    <form enctype="multipart/form-data" asp-controller="Contracts" asp-action="Create"
          method="post" class="mt-3">

        <div class="row">
            <div class="form-group col-md-4">
                <label asp-for="Name" class="col-form-label"></label>
                <div>
                    <input asp-for="Name" class="form-control" placeholder="Name">
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group col-md-4">
                <label class="col-sm-2 col-form-label" for="SupplierCode" style="@Localizer["text-align: left  ;direction: ltr"]">@Localizer["supplier"]</label>
                <select asp-for="SupplierCode" class="form-control">

                    <option selected></option>

                    @foreach (CodeNameModel obj in ViewBag.lstsuppliers)
                    {
                        <option value="@obj.Code">@obj.Name</option>
                    }
                </select>
            </div>
            <div class="form-group col-md-4">
                <label asp-for="FromDate" class="col-form-label"></label>
                <div>
                    <input asp-for="FromDate" class="form-control" placeholder="FromDate" type="date">
                    <span asp-validation-for="FromDate" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6">
                <label asp-for="ToDate" class=" col-form-label"></label>
                <div>
                    <input asp-for="ToDate" class="form-control" placeholder="FromDate" type="date">
                    <span asp-validation-for="ToDate" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group col-md-6" style="padding-top:14px;">

                <label class="control-label" asp-for="File"> File </label>
                <div class="custom-file">
                    <input type="file" asp-for="File" class="form-control custom-file-input" id="ufile" />
                    <label class="custom-file-label"> Choose File ...</label>
                    <span asp-validation-for="File" class="text-danger"></span>
                </div>
            </div>
        </div>

        @*<div asp-validation-summary="All" class="text-danger"></div>*@

        <div class="form-group row">
            <div class="col-md-10">
                <button type="submit" class="btn btn-primary" style="background-color: #00a6ff; color:#fff;">Create</button>
            </div>
        </div>

        <div>
        </div>

        @*This script is required to display the selected file in the file upload element*@

        @section Scripts {
            <script>
                $(document).ready(function () {
                    $('.custom-file-input').on("change", function () {
                        var fileName = $(this).val().split("\\").pop();
                        $(this).next('.custom-file-label').html(fileName);
                    });
                });

                function Delete(id) {
                    //debugger

                    $.ajax({
                        type: "POST",
                        dataType: "json",
                        url: "/Contracts/Delete",
                        data: {
                            id: id

                        },
                        success: function (response) {
                            // console.log("handle response :" + response.data);
                            document.location = '/Contracts/Create';


                        },
                        error: function (response) {
                            Swal.fire({
                                icon: 'error',
                                title: 'Oops...',
                                text: ' خطأ في التخزين !',
                                footer: 'Delete'
                            })
                            loader.style.display = "none";

                        },
                    });
                }



                /**/</script>
            @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
        }
    </form>

</div>

<div class="rowPage" style="margin-left: 2rem !important;">
    <table class="table">
        <thead style="background-color: #00a6ff; color: #fff;">
            <tr>
                <th>
                    @Localizer["Name"]
                </th>
                <th>
                    @Localizer["From Date"]
                </th>
                <th>
                    @Localizer["To Date"]
                </th>
                <th>
                    @Localizer["supplier Name"]
                </th>
                <th>
                    @Localizer["Days Number"]
                </th>
                <th>   @Localizer["Action"]</th>
            </tr>
        </thead>
        <tbody>

            @foreach (Contracts item in ViewBag.LstFiles)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FromDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ToDate)
                    </td>
                    @if (item.SupplierCode == null)
                    {
                        <td>
                            null
                        </td>
                    }
                    else
                    {
                        @*<td>
                                some supplier
                            </td>*@
                        @foreach (CodeNameModel m in ViewBag.lstsuppliers)
                        {
                            @if (m.Code == item.SupplierCode)
                            {
                                <td>
                                    @m.Name
                                </td>
                            }

                        }
                    }
                    <td>
                        @Html.DisplayFor(modelItem => item.DayesNumber)
                    </td>
                    <td>
                        <a class="btn btn-primary btn-sm" asp-action="Download" asp-controller="Contracts"
                           asp-route-id="@item.Code" style="font-size:small ;float: left;">
                            Download
                        </a>
                        <a class="btn btn-primary btn-sm" style="color:white; font-size: small" onclick="Delete(@item.Code)"> Delete</a>
                    </td>
                </tr>


            }

        </tbody>
    </table>


</div>

@*<div class="row">
        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="FilePath" class="control-label"></label>
                    <input asp-for="FilePath" class="form-control" />
                    <span asp-validation-for="FilePath" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="FromDate" class="control-label"></label>
                    <input asp-for="FromDate" class="form-control" />
                    <span asp-validation-for="FromDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ToDate" class="control-label"></label>
                    <input asp-for="ToDate" class="form-control" />
                    <span asp-validation-for="ToDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>*@


